devtools-macos.zip
.DS_Store
dev-app
bin

# ignore any file ending in _YYYY-MM-DD (plus extra suffix or extension)
*_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9][._]*

# more explicit rule for template_*.yml
template_[0-9][0-9][0-9][0-9]-[0-9][0-9]-[0-9][0-9][._]*.yml
devtools
